body {
  margin: 0;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  color: rgba(0, 0, 0, 0.8) !important;
  border-radius: 8px !important;
  border: 1px solid #d9d9d9 !important;
}
.ant-select-selector {
  display: none !important;
}

.ant-pagination-mini {
  display: flex !important;
  gap: 7px !important;
}
.ant-pagination-item-active a {
  color: #000 !important;
  border: 1px solid #182345 !important;
  border-radius: 8px;
}
